[run]
branch = True
omit =
    ambition/apis/*
    ambition/models/*
    ambition/version.py
source = ambition
[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    except ImportError
    raise ImportError
    raise ValueError
fail_under = 98